<template>
    <div>
        <div class="card card-body">
          <h1> UNOS NEKRETNINE </h1>
          <div class="field">
                <input v-model="Adresa" type="text" class="input" placeholder="Adresa nekretnine" required/>
            </div>
            <div class="field">
                <input v-model="Cijena" type="text" class="input" placeholder="Cijena nekretnine" required/>
            </div>
            <div class="field">
                <input v-model="Godina_izgradnje" type="text" class="input" placeholder="Godina izgradnje nekretnine" required/>
            </div>
            <div class="field">
                <input v-model="Lokacija" type="text" class="input" placeholder="Naselje/lokacija nekretnine" required/>
            </div>
            <div class="field-parking">
                <label class="lbl">Parking</label>
                <input type="radio" id="prvi" value="Da" v-model="Parking">
                <label for="prvi">DA</label>
                <input type="radio" id="drugi" value="Ne" v-model="Parking">
                <label for="drugi">NE</label>
            </div>
            <div class="field">
                <input v-model="Povrsina" type="text" class="input" placeholder="Povrsina nekretnine" required/>
            </div>
              <select class="odabir" id="v-model-select"  placeholder="Tip nekretnine" v-model="Tip">
                <option disabled value="">Odaberite tip nekretnine</option>
                <option value="Stan">Stan</option>
                <option value="Kuca">Kuća</option>
                <option value="Zemljiste">Zemljište</option>
                <option value="Poslovni prostor">Poslovni prostor</option>
                <option value="Garaza">Garaža</option>
                <option value="Apartman">Apartman</option>
            </select>
            <div id="v-model-textarea" class="field">
            <p>{{ message }}</p>
            <br />
            <textarea class="txt" v-model="Dodatno" placeholder="Unesite dodatne informacije o nekretnini"></textarea>
          </div>
          <div>
              <label class="label">Slika nekretnine </label>
              <input type="file" @change="ucitajSliku" accept="image/*" id="file">
            </div>
            <button class="unesi" @click="spremiNekretninu">Unesi nekretninu</button>
        </div>
    </div>
</template>

<script>
import { nekretnineCollection, storage } from '@/firebase'
import axios from 'axios'
import firebase from 'firebase'
export default {
  data () {
    return {
      Adresa: '',
      Cijena: '',
      Godina_izgradnje: '',
      Lokacija: '',
      Parking: '',
      Povrsina: '',
      Tip: '',
      Dodatno: '',
      slikaNekretnine: [],
      URL: '',
      geo: ''
    }
  },
  methods: {
    ucitajSliku () {
      this.files = event.target.files[0]
    },
    imageLoad (imageName) {
      var uploadSlike = storage.ref().child(imageName).put(this.files)
      uploadSlike.on('state_changed',
        (snapshot) => {},
        (error) => {
          console.log(error)
        },
        () => {
          uploadSlike.snapshot.ref.getDownloadURL().then((downloadURL) => {
            this.URL = downloadURL
            nekretnineCollection.doc(imageName).update({
              slikaNekretnine: imageName,
              linkSlike: downloadURL
            })
          })
        }
      )
    },
    spremiNekretninu () {
      const { data } = axios.get(
        `https://maps.googleapis.com/maps/api/geocode/json?address=${this.Adresa}&key=AIzaSyBKsbOH2_hwsrhdJmOmTh185gWwhLtT8LA`).then((res) => {
        const gea = new firebase.firestore.GeoPoint(res.data.results[0].geometry.location.lat, res.data.results[0].geometry.location.lng)
        nekretnineCollection.add({
          Adresa: this.Adresa,
          Cijena: this.Cijena,
          Godina_izgradnje: this.Godina_izgradnje,
          Lokacija: this.Lokacija,
          Parking: this.Parking,
          Povrsina: this.Povrsina,
          Tip: this.Tip,
          Dodatno: this.Dodatno,
          GeoPoint: gea
        }).then((docRef) => {
          this.imageLoad(docRef.id)
          this.$router.push('/listNekretnine')
          alert('Nekretnina je uspješno unesena.')
        })
        //
        console.log(data)
      })
    }
  }
}
</script>
<style>
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin:auto;
  }
  .field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #00A1C0;
    border-radius: 4px;
    font-size: 20px;
  }
  input[type=text]:focus {
    background-color: #e7e7e7;
  }
  .txt {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #00A1C0;
    border-radius: 4px;
    resize: none;
    margin-bottom: 10px;
  }
  .txt:focus{
    background-color: #e7e7e7;
  }
  .unesi {
    background-color: #00A1C0;
    border: none;
    color: black;
    padding: 8px 32px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    }

  .unesi:hover {
    background-color: #00A1C0;
    color: #EBDBDC;
  }

  h1{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px 0px 15px;
  }

  .odabir {
    width: 40%;
    padding: 12px 20px;
    border: 2px solid #00A1C0;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-top: 10px;
  }
  .odabir:hover {
    background-color: #f1f1f1;
    color: #00574b;
  }
  .field-parking{
  display:flex;
  justify-content: center;
  }
  .lbl{
    margin-right: 30px;
    align-self: center;
  }
  [type="radio"]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  [type="radio"]+label{
    cursor: pointer;
    padding: 10px 50px;
    background-color: lightgray;
  }
  [type="radio"]:checked +label{
    background-color: #00A1C0;
  }
  .edit-form{
    width: 100%;
  }
</style>
