<template>
  <div class="card card-body">
    <h1>IZMJENA PODATAKA O NEKRETNINI</h1>
    <form @submit.prevent="update" class="edit-form">
            <div class="field">
              <label class="lbl">Cijena</label>
                <input v-model="form.Cijena" type="text" class="input" placeholder="Cijena nekretnine" required/>
            </div>

            <div class="field">
              <label class="lbl">Godina izgradnje</label>
                <input v-model="form.Godina_izgradnje" type="text" class="input" placeholder="Godina izgradnje nekretnine" required/>
            </div>

            <div class="field">
              <label class="lbl">Lokacija</label>
                <input v-model="form.Lokacija" class="input" type="text" placeholder="Naselje/lokacija nekretnine" required/>
            </div>

            <div class="field-parking">
                <label class="lbl">Parking</label>
                <input type="radio" id="prvi" value="Da" v-model="form.Parking">
                <label for="prvi">DA   </label>
                <input type="radio" id="drugi" value="Ne" v-model="form.Parking">
                <label for="drugi">NE   </label>
            </div>

            <div class="field">
              <label class="lbl">Površina</label>
                <input v-model="form.Povrsina" type="text" class="input" placeholder="Povrsina nekretnine" required/>
            </div>
            <label class="lbl">Tip nekretnine</label>
            <select class="odabir" id="v-model-select"  placeholder="Tip nekretnine" v-model="form.Tip">
              <option disabled value="">Odaberite tip nekretnine</option>
              <option value="Stan">Stan</option>
              <option value="Kuca">Kuća</option>
              <option value="Zemljiste">Zemljište</option>
              <option value="Poslovni prostor">Poslovni prostor</option>
              <option value="Garaza">Garaža</option>
              <option value="Apartman">Apartman</option>
          </select>
            <div id="v-model-textarea" class="field">
              <label class="lbl">Dodatne informacije o nekretnini</label>
              <p>{{ message }}</p>
              <br />
              <textarea class="txt" v-model="form.Dodatno" placeholder="Unesite dodatne informacije o nekretnini" style="margin: 0px; width: 420px; height: 78px;"></textarea>
            </div><br>
      <button type="submit" class="unesi">
        Spremi promjene
      </button>
    </form>
  </div>
</template>

<script>
import { reactive, computed, onMounted } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { getNekretnina, updateNekretnina } from '@/firebase'

export default {
  setup () {
    const router = useRouter()
    const route = useRoute()
    const nekretninaID = computed(() => route.params.id)

    const form = reactive({ Cijena: '', Godina_izgradnje: '', Lokacija: '', Parking: '', Povrsina: '', Tip: '', Dodatno: '' })
    onMounted(async () => {
      const nekretnine = await getNekretnina(nekretninaID.value)
      console.log(nekretnine, nekretninaID.value)
      form.Cijena = nekretnine.Cijena
      form.Godina_izgradnje = nekretnine.Godina_izgradnje
      form.Lokacija = nekretnine.Lokacija
      form.Parking = nekretnine.Parking
      form.Povrsina = nekretnine.Povrsina
      form.Tip = nekretnine.Tip
      form.Dodatno = nekretnine.Dodatno
    })

    const update = async () => {
      await updateNekretnina(nekretninaID.value, { ...form })
      router.push('/listNekretnine')
      form.Cijena = ''
      form.Godina_izgradnje = ''
      form.Lokacija = ''
      form.Parking = ''
      form.Povrsina = ''
      form.Tip = ''
      form.Dodatno = ''
    }

    return { form, update }
  }
}
</script>
