<template>
    <div class="row">
      <div class="naslov-button">
    <div class="naslov">POPIS NEKRETNINA</div>
    <router-link to="/createNekretnine">
      <button class="add">
      UNESI NOVU NEKRETNINU
      </button>
      </router-link></div>
      <div class="tdiv">
            <table class="tablica">
                <thead>
                    <tr>
                        <th style="width:200px">ID NEKRETNINE</th>
                        <th>ADRESA</th>
                        <th>CIJENA</th>
                        <th>GODINA IZGRADNJE</th>
                        <th>LOKACIJA</th>
                        <th>PARKING</th>
                        <th>POVRŠINA</th>
                        <th>TIP</th>
                        <th style="width:150px">DODATNE INFORMACIJE</th>
                        <th>OPCIJE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="{id,Adresa,Cijena,Godina_izgradnje,Lokacija,Parking,Povrsina,Tip,Dodatno} in nekretnine" :key="id">
                            <td>{{id}}</td>
                            <td>{{ Adresa }}</td>
                            <td>{{ Cijena }}</td>
                            <td>{{ Godina_izgradnje }}</td>
                            <td>{{ Lokacija }}</td>
                            <td>{{ Parking }}</td>
                            <td>{{ Povrsina }}</td>
                            <td>{{ Tip }}</td>
                            <td>{{ Dodatno }}</td>
                            <td class="has-text-centered">
                                <router-link :to="`/edit/${id}`">
                                    <button class="edit" style="margin-right: 2px">IZMJENI</button>
                                </router-link>
                                <button class="edit" @click="deleteNekretnina(id)">OBRIŠI</button>
                            </td>
                    </tr>
                </tbody>
            </table>
            </div>
    </div>
</template>

<script>
import { useLoadNekretnine, deleteNekretnina } from '@/firebase'

export default {
  setup () {
    const nekretnine = useLoadNekretnine()
    return { nekretnine, deleteNekretnina }
  }
}
</script>

<style>
  .row{
    width: 100%;
  }
  .tdiv{
    width: 90%;
    margin: auto;
  }
.naslov-button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
}
.tablica {
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;
  background-color: #77777741;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-right: 10px;
  table-layout: fixed;
  box-shadow: 8px 8px 8px grey;
}

.tablica td, .tablica th {
  padding: 8px;
  text-align: center;
}

.tablica tr:nth-child(even){background-color: rgb(255, 255, 255);}

.tablica tr:hover {background-color: #9cccd66e;}

.tablica th {
  padding: 12px 36px;
  background-color: #00A1C0;
  color: white;
  text-align: center;
}

.naslov {
  font-size: 20px;
  font-weight: bold;
}

.add {
  background-color: #77777741;
  border: none;
  color: black;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  position: absolute;
  right: 67px;
  transform: translateY(-15px);
  box-shadow:3px 3px 3px #0045536e ;
  }

.add:hover {
  background-color: #00A1C0;
  color: #EBDBDC;
}

.edit{
  background-color: #77777741;;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.edit:hover {
  background-color: #00A1C0;
  color: #EBDBDC;
}
</style>
