<template>
  <div class="mapa">
  <div class="radius">
    <label class="rds">Unesite radius unutar kojeg želite prikazati nekretnine </label>
    <input v-model="radius" type="number" class="form-control"/>
    <button @click="potvrdiRadijus" class="btn">Potvrdi unos</button>
</div><br>
<!-- <div>{{ this.windowopen }}</div> -->
<div class="map">
  <GMapMap :center="currPos" :zoom="13" style="width: 90vw; height: 550px">
    <GMapMarker :options="{ position: currPos, title:'Vi se nalazite ovdje', icon: {url: require ('../assets/pin.png') }}"/>
    <GMapCluster :zoomOnClick="true" >
      <GMapMarker :key="index"
      v-for="(m, index) in nekretnine"
      :options="{position: {lat: m.GeoPoint.latitude, lng: m.GeoPoint.longitude}}"
      :clickable="true"
      @click="openWindow(m,index)">
    </GMapMarker>
    <GMapCircle :options="{center: currPos,
      radius: radijus*621.371192,
      strokeColor: '#8a8a94',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#8a8a94',
      fillOpacity: 0.35}"/>
    </GMapCluster>
    <GMapInfoWindow
        :opened="windowopen"
        :options=" {maxWidth: 320, maxHeight: 320 }"
        :position="infoposition"
      >
      <div v-html="info"></div>
      <button @click="zatvori" class="btn">Zatvori prikaz</button>
      </GMapInfoWindow>
  </GMapMap>
</div>
  </div>
</template>

<script>
import { computed } from 'vue'
import { useLoadNekretnine } from '@/firebase'
import { useGeolocation } from './useGeolocation'

export default ({
  data () {
    return {
      windowopen: false,
      radijus: 10,
      currentMidx: null,
      info: '',
      infoposition: { lat: 0, lng: 0 }
    }
  },
  setup () {
    const nekretnine = useLoadNekretnine()
    const center = { lat: 45.327059201499544, lng: 14.44215247174568 }

    const { coords } = useGeolocation()
    const currPos = computed(() => ({
      lat: coords.value.latitude,
      lng: coords.value.longitude
    }))

    return { nekretnine, center, currPos }
  },
  methods: {
    openWindow: function (marker, idx) {
      this.infoposition = { lat: marker.GeoPoint.latitude, lng: marker.GeoPoint.longitude }
      this.currentMidx = idx
      this.info = this.infof(marker)
      if (this.currentMidx === idx) {
        this.windowopen = !this.windowopen
      } else {
        this.windowopen = true
        this.currentMidx = idx
      }
    },
    potvrdiRadijus () {
      this.radijus = Number(this.radius)
    },
    zatvori () {
      this.windowopen = false
    },
    infof: function (m) {
      return (
        `<div class="info">
              <div class="m-2"><span style="font-weight: bold;">ID nekretnine: </span>
                ${m.id}
              </div>
              <img src="${m.linkSlike}" style="width:200px;"<br>
              <div class="m-2"><span style="font-weight: bold;">Adresa: </span>
                ${m.Adresa}
              </div>
              <div class="m-2"><span style="font-weight: bold;">Naselje: </span>
                ${m.Lokacija}
              </div>
              <div class="m-2"><span style="font-weight: bold;">Povrsina: </span>
                ${m.Povrsina}
              </div>
              <div class="m-2"><span style="font-weight: bold;">Tip nekretnine: </span>
                ${m.Tip}
              </div>
              <div class="m-2"><span style="font-weight: bold;">Parking: </span>
                ${m.Parking}
              </div>
              <div class="m-2"><span style="font-weight: bold;">Godina izgradnje: </span>
                ${m.Godina_izgradnje}
              </div>
              <div class="m-2"><span style="font-weight: bold;">Dodatne informacije: </span>
                ${m.Dodatno}
              </div>
            <div class="m-2"><span style="font-weight: bold;">Cijena:  </span>
              ${m.Cijena}
              <br>
        </div>`)
    }
  }
})
</script>
<style>
  .map{
    margin:auto;
    align-content: center;
    justify-content: center;
  }
  .mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  .radius{
    align-self: flex-start;
    padding: 15px 0px 0px 76px;
  }
  input[type=number]:focus {
  border: 3px solid #555;
  }
  input[type=number]{
    padding: 5px;
    margin-left: 5px;
  }

  .btn {
  background-color: #77777741;
  border: none;
  color: black;
  font-weight: bold;
  padding: 8px 32px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  background-color: #00A1C0;
  color: #EBDBDC;
}

.m-2{
  padding: 5px;
  align-self: flex-start;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info img{
  padding:10px;
}
.btn-info{
  background-color: #00574b;
  border: none;
  color: white;
  padding: 6px 26px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}
img[src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22/%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3C/svg%3E"]{
  display: none !important;
  cursor:none !important;
}
.rds{
  font-weight: bold;
  font-size: 20px;
}
</style>
