<template>
  <div class="card card-body">
        <form @submit.prevent="register">
            <div class="logreg">REGISTRACIJA NOVOG KORISNIKA</div>
            <div class="field">
            <input type="email" class="input" placeholder="Unesite e-mail" v-model="email"/>
            <input type="password" class="input" placeholder="Unesite lozinku" v-model="password"/>
            <button type="submit" class="unesi">Registracija</button>
            </div>
        </form>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Register',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    register () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(() => {
        alert('Uspješno ste registrirali novog korisnika.')
        this.$router.push('/home')
      })
        .catch(error => {
          alert(error.message)
        })
    }
  }
}
</script>
<style>
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #00A1C0;
    border-radius: 4px;
  }
  input[type=email]:focus {
    background-color: #e7e7e7;
  }
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #00A1C0;
    border-radius: 4px;
  }
  input[type=password]:focus {
    background-color: #e7e7e7;
  }
</style>
